<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CAD001.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CAD001.Settings1>
            <setting name="connstr" serializeAs="String">
                <value>Server=TTD-6NNYNK3\ARVADACORE;Database=CoreTools;Integrated Security=SSPI </value>
            </setting>
            <setting name="connstrlocal" serializeAs="String">
                <value>Server=DESKTOP-UGG2A0V\MDDEVELOPMENT;Database=EngineeringData;Trusted_Connection=True;</value>
            </setting>
            <setting name="constrazure" serializeAs="String">
                <value>Server=mooredesign.database.windows.net,1433;Initial Catalog=CoreTools;Persist Security Info=False;User ID=clintmoore;Password="AzuretnilCM1967!1";MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</value>
            </setting>
            <setting name="connstrarvada" serializeAs="String">
                <value>Server=TTD-6NNYNK3\ARVADACORE;Database=CoreTools;Integrated Security=SSPI </value>
            </setting>
        </CAD001.Settings1>
    </applicationSettings>
</configuration>